node_modules/
_site/
.env
scripts/google/token.json
scripts/google/credentials.json
scripts/google/presentation-export.json
.DS_Store
Assets/.DS_Store
Assets/index/.DS_Store
Assets/work-fitness-tracking-application/.DS_Store
