---
layout: none
---
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}
    <link rel="canonical" href="https://pierrejorgensen.github.io/">
    <meta property="og:url" content="https://pierrejorgensen.github.io/">
    <meta property="og:title" content='Per "Pierre" Jorgensen | Work: Samples and case studies'>
    <meta property="og:description" content="Zoom out: Site architecture. How product strategy and target audience shape information architecture and navigation.">
    <title>Per "Pierre" Jorgensen | Work: Samples and case studies</title>
  </head>

  <body>
    {% include header.html %}
    <main>
      <p><strong>Q:</strong> So what are you? UX designer? Product manager? Front-end builder?</p>
      <p><strong>A:</strong> Yes. See <a href="/p/who-is-pierre-jorgensen.html">Who is…</a></p>
      <ul class="worky-works">
        <li>
          <a href="/p/work-information-architecture.html">
            <img alt=""
              src="/Assets/index/information-architecture-thumb.png">
            <div class="blurby-blurb">
              <h3>Zoom out: Site architecture</h3>
              <p>How product strategy and target audience shape information architecture and navigation.</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/p/work-one-product-detail-feature.html">
            <img alt=""
              src="/Assets/index/product-detail-thumb.png">
            <div class="blurby-blurb">
              <h3>Zoom in: Complex interactions</h3>
              <p>Your user experience is the sum total of multiple interactive features. Here's the story of one linchpin functionality.</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/p/work-machine-learningai-project.html">
            <img alt=""
              src="/Assets/index/machine-learning-thumb.png">
            <div class="blurby-blurb">
              <h3>Machine-learning (ML) UI</h3>
              <p>“AI” can sound like a solution in search of a problem sometimes — a shiny ball — but here's a practical application of <em>natural language processing</em> (NLP) and machine learning to solve a real-world problem.</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/p/work-fitness-tracking-application.html">
            <img data-original-height="980" data-original-width="3216"
              src="/Assets/index/fitness-tracking-thumb.png">
            <div class="blurby-blurb">
              <h3>Dashboard and data-intensive UI design</h3>
              <p>Let's say you have an application whose purpose is to give you access to large amounts of data, in this case telemetry from a wide range of fitness devices.</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/p/work-mobile-app.html">
            <img alt=""
              src="/Assets/index/g2c-thumb.png">
            <div class="blurby-blurb">
              <h3>G2C (government-to-consumer) app</h3>
              <p>Let's say an app would keep track for you of annual, tedious government business like what you owe in property taxes and vehicle registration renewal, remind you, and make it easy to pay in the app. You could throw in hunting
                licenses and other things you buy from state and local government. (Hey, I know, that's not new now — it was new to the market in 2014.)</p>
            </div>
          </a>
        </li>
        <li>
          <a href="/p/work-non-profit-site-redesign.html">
            <img alt=""
              src="/Assets/index/non-profit-thumb.png">
            <div class="blurby-blurb">
              <h3>Conversion-funnel design</h3>
              <p>Do non-profits need conversion-rate optimization (CRO)? Sure they do, if they want more donations. Children International did. Here's that story.</p>
            </div>
          </a>
        </li>
      </ul>

      <p><em>Lagniappe</em>, should you want more: Oldies but goodies. Yes the visual design is dated. No it wasn't dated at the time, so try and rewind your mind's eye to 2000-2010. The point is, these were designs that moved the needle at one
        point. Neither good outcome-oriented product design, conversion-rate optimization (CRO), or search-engine optimization (SEO) are new ideas. Some of us have been doing this for two decades and more:</p>
      <ul>
        <li>
          <a href="https://www.behance.net/gallery/4406983/UMB-Online-Banking" target="blank">Online banking redesign 2006</a><br>
          (increased online banking usage 28% first year post-redesign)
        </li>
        <li>
          <a href="https://www.behance.net/gallery/4389799/Original-Juan-Specialty-Foods" target="blank">Original Juan redesign 2003</a><br>
          (increased sales 92%, once hiked single month sales 160% with a targeted landing page and email campaign)
        </li>
      </ul>
    </main>
    {% include footer.html %}
  </body>
