---
layout: none
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<link href="https://ux-for-management.blogspot.com/favicon.ico" rel="icon" type="image/x-icon">
<link href="http://ux-for-management.blogspot.com/p/work-works-also-work.html" rel="canonical">
<meta content="Zoom out: Site architecture. How product strategy and target audience shape information architecture ..." property="og:description">
<title>
UX Soup for the Management Soul: Work: Samples and case studies
</title>
<link href="https://fonts.googleapis.com" rel="preconnect">
<link crossorigin="true" href="https://fonts.gstatic.com" rel="preconnect">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Inter&amp;family=Work+Sans">
<link rel="stylesheet" href="/CSS/styley.css">
</head>
<body>
  {% include header.html %}
  {% include nav.html %}
</body>
