---
layout: none
---
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}
    <link rel="canonical" href="https://pierrejorgensen.github.io/p/work-information-architecture.html">
    <meta property="og:url" content="https://pierrejorgensen.github.io/p/work-information-architecture.html">
    <meta property="og:title" content="Work: Information Architecture">
    <meta property="og:description" content="The job: Redesign a site, taking it from a brochure and online catalog to a fully transactional e-commerce site. ...">
    <title>Work: Information Architecture</title>
  </head>

  <body id="info-architecture">
    {% include header.html %}

    <main>
      <div class="hero full-width"></div>
      <h2>Zoom out: Site architecture</h2>
      <table>
        <tr>
          <th scope="row">The job</th>
          <td>
            Redesign a site, taking it from a brochure and online catalog to a fully
            transactional e-commerce site.
          </td>
        </tr>
        <tr>
          <th scope="row">The industry</th>
          <td>
            Promotional products. The company is a long-time leader in the promotional products market,
            at the time selling exclusively through contractual partnerships with large clients.
          </td>
        </tr>
        <tr>
          <th scope="row">The business strategy</th>
          <td>
            We have the infrastructure, logistics, vendors, and platform. Let's add a
            revenue stream selling directly to the open market.
          </td>
        </tr>
      </table>
      <p>
        A site design of this scale involves enough decisions to fill a white
        paper, which is not what you're here for, so let's focus on the first
        thing: The site's global navigation.
        <strong>Its information architecture (IE), or the <em>bones</em>, if you will.</strong>
      </p>

      <p>
        Before I do anything else, I want agreement on (a) what needs to be in the
        header and (b) the relative importance of each puzzle piece. The last
        thing you want is to jump straight to mockups and then spend the next two
        months on revisions and indecision because everyone's on a different page
        what's in and what's out, what's prominent and what's not.
      </p>

      <h3>Mapping out contexts and motivations</h3>
      <p>
        Let's first try to predict what's important to the real person at the
        other end, our potential customer.
      </p>
      <a href="/Assets/work-information-architecture/Context.png">
        <img alt="A list of ranges of context: Company size, number of items to buy, pressure to make the right purchase, whether the buyer needs approval, and time frame." src="/Assets/work-information-architecture/Context.png">
      </a>

      <p>
        This may seem abstract, but the first job of design is to understand the
        problem. The site is meant to meet a real-world need for real-world
        people, so let's make sure we agree on the context and concerns they have.
      </p>
      <a href="/Assets/work-information-architecture/Motivations-and-concerns.png">
        <img
          alt="A list of ranges of motivation and concerns: What&#x27;s important to the buyer (price or recipient satisfaction), buyer&#x27;s confidence they know what to buy, buyers intant (do they already know what they want), trust (do they trust the merchant), self-reliance (do they need validation or social proof), and need for control (do they want granular control over the product or are they not particular)."
          src="/Assets/work-information-architecture/Motivations-and-concerns.png">
      </a>
      <p>
        This should go without saying, but keep in mind: None of this is
        materializing out of a vacuum. Coming up with maps like these involves
        cross-functional collaboration to gather what we know about buyers in this
        space as well as consensus-building.
      </p>

      <h3>Mapping out priorities</h3>
      <p>
        We could start plunking menu items and menus into mockups, but you'll save
        yourself a lot of revisions and indecision if you agree beforehand (a)
        what needs to be in the global navigation and (b) what the relative
        importance of each items is.
      </p>
      <div class="image-group image-caption-group full-width">
        <a href="/Assets/work-information-architecture/Relative-importance.png">
          <img alt="Mapping out priorities: Relative importance" src="/Assets/work-information-architecture/Relative-importance.png">
        </a>
        <span class="image-caption">The flow isn't going to be significantly different from the e-commerce
          you're already familiar with, so we can rely on a familiar blend of
          pieces for the header. Using size to rank their relative importance made
          the charts instantly understandable.</span>
      </div>
      <p>I anticipated one quirk to this audience: You're buying products to
        give away. That adds a layer of uncertainty and friction.</p>
      <a href="/Assets/work-information-architecture/Help-make-a-choice.png">
        <img alt="Navigation concept that helps buyers choose promotional products when they are unsure what to order." src="/Assets/work-information-architecture/Help-make-a-choice.png">
      </a>
      <p>
        Unless you're a marketing pro who buys promo swag all the time, you won't
        necessarily even know what kind of thing to buy. We had enough content
        assets sitting around for a solid start here, and my thought was to tie
        them together in a single hub, the goal of which would be to help you
        pick.
      </p>
      <a href="/Assets/work-information-architecture/Sell-the-company.png">
        <img alt="Header area emphasizing company credibility and trust for promotional-products shoppers." src="/Assets/work-information-architecture/Sell-the-company.png">
      </a>
      <div class="image-group image-caption-group full-width">
        <a href="/Assets/work-information-architecture/Final-weight-map.png">
          <img alt="Final weighted map of global navigation items sized by relative importance." src="/Assets/work-information-architecture/Final-weight-map.png">
        </a>
        <span class="image-caption">The finalized map emphasizes three transactional funnels (search,
          category browsing, and idea generation), with About and our human-touch
          channels (chat and phone) second.</span>
      </div>

      <h3>Fitting the puzzle together into a nav structure</h3>
      <p>
        We're getting close. Now, we can add the puzzle pieces to a board
        and fit them together.
      </p>
      <div class="image-group image-caption-group full-width">
        <a href="/Assets/work-information-architecture/Configurations-1.png">
          <img alt="Fitting the puzzle together into a nav structure: Configurations 1" src="/Assets/work-information-architecture/Configurations-1.png">
        </a>
        <span class="image-caption">Here's a condensed version of the nav's evolution. Navigation structure
          is a lot like a game of Tetris once you get to this point, and finding
          the right combination takes a lot of rapid iteration.</span>
      </div>
      <p>
        The final version collects the nav's content into two rows, each with a
        distinct purpose: An upper row of lower-priority utilities (see where the
        priority rankings come in handy?), and a lower row of larger entry points
        into the shopping funnel.
      </p>

      <div class="image-group image-caption-group full-width">
        <a href="/Assets/work-information-architecture/First-live-nav.png">
          <img alt="First live global navigation on the redesigned promotional e-commerce site." src="/Assets/work-information-architecture/First-live-nav.png">
        </a>
        <span class="image-caption">Because we already had consensus on the header's contents and
          priorities, finalizing and taking it live was a straightforward process
          of graphic design, applying the company's styleguide, and front-end
          buildout.</span>
      </div>

      <h3>Bonus: Data-driven iterations</h3>
      <p>
        Late 2022 we began using a monitoring tool, ContentSquare, to follow areas
        of engagement and, conversely, friction. We're also watching the volume
        and cost of transactions with customer service, which are for obvious
        reasons more expensive than pure online transactions.
      </p>
      <p>
        At the same time, we are actively looking to strip and simplify across the
        site &mdash; throw the ballast overboard, as it were &mdash; to drive up
        conversion rates. When we look at the header, the upper utilities row has
        clutter. Can we simplify?
      </p>
      <div class="image-group image-caption-group full-width">
        <a href="/Assets/work-information-architecture/Second-live-nav.png">
          <img alt="Second iteration of the live global navigation after refinements." src="/Assets/work-information-architecture/Second-live-nav.png">
        </a>
        <span class="image-caption">The Phone and Help links had little engagement, and Chat is accessible
          from a widget further down the page. We folded those together with About
          Us under a Contact Us heading. The change improved conversion rates and
          had no negative impact on sales through Customer Service.</span>
      </div>
      <p>
        In late 2023, we again prioritize condensing and simplifying. Business
        priorities have shiften slightly as well, and we want to emphasize the
        live sales channel by exposing the phone number again. We also want to
        give the Search field more visual emphasis.
      </p>
      <div class="image-group image-caption-group full-width">
        <a href="/Assets/work-information-architecture/Current-live-nav.png">
          <img alt="Current live desktop global navigation on the promotional products site." src="/Assets/work-information-architecture/Current-live-nav.png">
        </a>
        <span class="image-caption">We condense utilities into icons; Account and Cart are familiar enough
          to any e-commerce user not to require text labels. The Search field is
          slightly wider and has an acre of negative space leading your eye to it.
          The main nav is now a single line, which gives us enough space to add a
          lower row of direct links to categories we want to emphasize as well as
          room for the phone number with a short tag line.</span>
      </div>


      <h3>What about mobile and tablet?</h3>
      <p>Is this a responsive design, you say? Of course. It goes without saying.</p>
      <p>Mobile. Note slightly larger font as well as larger tappable controls:</p>
        <a href="/Assets/work-information-architecture/currentnav-mobile.png">
          <img alt="Mobile. Note slightly larger font as well as larger tappable controls." src="/Assets/work-information-architecture/currentnav-mobile.png">
        </a>
        <p>Tablet:</p>

        <a href="/Assets/work-information-architecture/currentnav-tablet.png">
          <img alt="Tablet" src="/Assets/work-information-architecture/currentnav-tablet.png">
        </a>
    </main>
  </body>

</html>
